DATABASE_URL=postgresql://pacifique:Euqificap12.@localhost:5432/crop_disease_db
SECRET_KEY=your-secret-key-here-change-in-production
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REDIS_URL=redis://:Euqificap12.@localhost:6379
CORS_ORIGINS=http://localhost:3000
